footer
    position relative
    bottom 0 
    width 1200px
    height 90px
    margin 0 auto
    background #fff
    margin-top 15px
    z-index 2
    .footer 
        display flex
        align-items start
        justify-content space-between
        padding 0
        p
            margin 0
            color #848688
            text-align center  
        p.contato-cidade
            montserrat 12
            font-weight 300
        div.contatos
            p.contato-telefone
                montserrat 14
                font-weight 500
            p.contato-nome
                montserrat 12
                font-weight 500
        p.instagram
            display flex
            align-items start
            a
                montserrat 12
                font-weight 300
                padding-left 5px
        ul.footer-menu1 
            margin 0
            padding-left 60px
            padding-right 0
            li
                list-style none
                a
                    color #848688
                    montserrat 12
                    font-weight 500
        ul.footer-menu2 
            margin 0
            padding-left 0
            padding-right 60px
            li
                list-style none
                a
                    color #848688
                    montserrat 12
                    font-weight 500
        div.footer-info
            width 10vw
            display block
            div
                padding-bottom 10px
            p
                montserrat 9
                font-weight 500
                text-align left 
            a
                color #848688
    +below($tablet)
        width 80%
        .footer
            padding-right 0
            padding-left 0
            margin 0 auto
            p.contato-cidade
                montserrat 9
            div.contatos
                p.contato-telefone
                    montserrat 11
                p.contato-nome
                    montserrat 9
            p.instagram
                display flex
                align-items center
                a
                    montserrat 10
            ul.footer-menu1
                padding-left 20px
                li
                    a
                        montserrat 10
            ul.footer-menu2
                padding-right 20px
                li 
                    a
                        montserrat 10
            div.footer-info
                width 12vw
                display block
                p
                    montserrat 7
    +mobile()
        height auto
        hr 
            margin-bottom 10px
        .footer
            display flex
            flex-direction column
            align-items center
            p, div.contatos
                width 100%
                margin 1%
                text-align center
            p.instagram
                display flex
                align-items center
                justify-content center
                a
                    montserrat 10
            ul.footer-menu1
                padding 1%
                display flex
                li
                    padding-left 10px
                    a
                        text-align left
            ul.footer-menu2
                padding 1%
                display flex
                li
                    padding-left 10px
                    a
                        text-align left
            div.footer-info
                width 50vw
                display block
                div
                    padding-bottom 5px
                    p
                        montserrat 7
                        text-align center
