header
    width 1200px
    height 150px
    margin 0 auto
    top 0
    left 0
    z-index 2 
    .logo
        display block
        float left
        width 250px
        height 150px
        margin 10px 5px 10px 0
        background $img('marca-llcc-internas.png') no-repeat center
        color #848688
        text-indent -9999px
    .logo-home
        display block
        float left
        width 250px
        height 150px
        margin 10px 5px 10px 0
        background $img('marca-llcc-home.png') no-repeat center
        text-indent -9999px
    nav
        display block
        padding 0
        width 100%
        height 150px
        div.itens-menu
            display flex
            align-items top
            padding-top 30px
            a
                padding 20px
                margin 0
                montserrat 14
                font-weight 600
                color #848688
                position relative
                &:before
                    content ''
                    width 12px
                    height 1px
                    position absolute
                    left -22px
                    bottom 3px
                    background #fff
                    opacity 0
                    transition opacity .3s
                &:hover
                &.active
                &.focus
                    color #F8A418
                    background #fff
                    &:before
                        opacity 0
            > a
                text-transform lowercase
            .sub
                margin 4px 0 15px
                a
                    montserrat 14
                    &.active
                        font-weight bold
                    + a
                        margin-top 4px
            .social
                margin 0
                font-size 0
                padding 20px
                padding-left 10px
                a
                    padding 5px
                    &:before
                        display none
                    display inline-block
                    width 16px
                    height 16px
                    text-indent -9999px
                    + a
                        margin-left 4px
                    &.instagram
                        background $img('ico-instagram.svg') no-repeat center
    nav.nav-home
        display block
        padding 0
        width 100%
        height 150px
        div.itens-menu
            display flex
            align-items top
            padding-top 30px
            a
                padding 20px
                margin 0
                montserrat 14
                font-weight 500
                color #FFF
                position relative
                &:before
                    content ''
                    width 12px
                    height 1px
                    position absolute
                    left -22px
                    bottom 3px
                    background #848688
                    opacity 0
                    transition opacity .3s
                &:hover
                &.active
                &.focus
                    color #F8A418
                    background transparent
                    &:before
                        opacity 0
            > a
                text-transform lowercase
            .sub
                margin 4px 0 15px
                a
                    montserrat 14
                    &.active
                        font-weight bold
                    + a
                        margin-top 4px
            .social
                margin 0
                font-size 0
                padding 20px
                padding-left 10px
                a
                    padding 5px
                    &:before
                        display none
                    display inline-block
                    width 16px
                    height 16px
                    text-indent -9999px
                    + a
                        margin-left 4px
                    &.instagram
                        background $img('ico-instagram-branco.svg') no-repeat center
                        color #FFF
    +below($tablet)
        width 80%
        margin 0 auto
        height 150px
        background transparent
        padding 0
        +mobile()
            width 90%
            height 120px
        .logo
            width 150px
            height 100px
            background-size 100% auto
            margin 4% 0 0 0;
            margin-left 0
            float left
        .logo-home
            width 200px
            height 150px
            background-size 100% auto
            margin 0
            margin-left 0
            float left
        nav, nav.nav-home
            position relative
            display none
            background-color #FFF
            width 120%
            margin 0
            padding-right 0
            float right 
            z-index 9999
            div.itens-menu
                display block
                background-color #FFF
                width 120%
                padding-right 20%
                padding-top 0
                height 55vh
                a
                    display block
                    padding-right 0
                    color #848688
                    text-align right 
                    &:hover
                    &.active
                    &.focus
                        color #F8A418
                        background #fff
                        &:before
                            opacity 0
                    &:before
                        left auto
                        right 0
                        width 10px
                .social
                    padding 10px 0
                    float right 
                    a
                        font-size 0
                        padding 0
                        &.instagram
                            background $img('ico-instagram.svg') no-repeat center
#mobile-toggle
    +above($tablet)
        display none
    display block
    background-color transparent
    border 0
    position relative
    height 100%
    width 28px
    outline 0
    padding 0
    cursor pointer
    margin-left auto
    margin-right 0
    +mobile()
        margin auto 10% auto 90%
    .lines
        display block
        width 100%
        height 4px
        background-color #848688
        position relative
        transition .3s ease
        border-radius 3px
        &:before
        &:after
            content ""
            display block
            position absolute
            left 0
            width 100%
            height 4px
            background-color #848688
            transition .3s ease
            border-radius 3px
        &:before
            top 7px
        &:after
            top -7px
    .lines-home
        display block
        width 100%
        height 4px
        background #fff
        position relative
        transition .3s ease
        border-radius 3px
        &:before
        &:after
            content ""
            display block
            position absolute
            left 0
            width 100%
            height 4px
            background #fff
            transition .3s ease
            border-radius 3px
        &:before
            top 7px
        &:after
            top -7px
    &.close
        .lines
            background transparent
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)
        .lines-home
            background transparent
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)

