html
body
    height 100%
    font-family 'Montserrat', 'Helvetica', 'Arial', sans-serif
body
    background-color #FFF
    margin 0
    padding 0
    overflow-x hidden
    position relative
    hr.line-footer
        border 1px solid #CBCCCC
        margin 0
    .wrapper
        width 100%
        min-height calc('100% - 100px')
        position relative
        .center
            clearfix()
            width 100%
            .content
            hr.line-home
                padding 0
                margin 0
                width 100%
                border 1px solid #FFF
            hr.line-pages
                padding 0
                margin 0
                width 100%
                border 1.5px solid #F8A418
    +below($tablet)
        min-height auto
        .center
            width 100%
            .content
                width 100%
                float none
                padding 20px 0 50px
            .barra
                display none
    +mobile()
        min-height auto
        .wrapper
            width 100%
            .center .content
                width 100%
                padding 20px 0 30px
