.clipping
    .clipping-thumbs
        position relative
        background #FFF
        width 1200px
        margin 0 auto
        padding-top 2%
        padding-bottom 5%
        &:after
            content ''
            display block
            clear both
        .grid-item 
            display flex
            flex-direction column
            width 23.6%
            background #c5c7c9
            border-radius 0
            padding 0.7%
            margin 0.7%
            &:hover 
                background #F8A418
                span 
                    color #FFF
            .grid-img 
                width 100%
                height auto
            .grid-link 
                width 100%
                height auto
            span 
                text-align center
                padding-top 5%
                padding-bottom 5%
                montserrat 14
                font-weight 600
                text-transform uppercase
                color #848688
        +below($tablet)
            width 84%
            padding 0
            .grid-item 
                width 48%
        +mobile()
            width 90% 
            padding 0 4% 0 4%
            .grid-item 
                width 90%
                margin-bottom 3%
    .btn-clipping
        position relative
        bottom 0
        margin 3% 44%
        background-color #F8A418
        border none 
        border-radius 20px
        width 145px
        height 42px
        color #FFF
        montserrat 14
        font-weight 500
        display flex
        align-items center
        justify-content center
        img
            padding-left 5px
        &:hover
            background-color #848688
        &:focus
            outline none
        +below($tablet)
            margin 5% 43%
        +mobile()
            margin 5% 32%
    