.contato
    width 1200px !important
    margin 0 auto !important
    padding 0
    height 50%
    form
        display flex
        justify-content: space-around
        width 100%
        padding-right 0
        padding-top 1%
        clearfix()
        .flash
            display block
            margin 0
            height 80px
            montserrat 13
            padding 10px
            border-radius 20px
            &.flash-erro
                border 2px solid $vermelho
                background $vermelho
                color #fff
            &.flash-sucesso
                border 2px solid $verde
                background $verde
                color #fff
            +mobile()
                margin 1% 1% 1% 2%
                width 100%
                height 40px
        .informacoes
            padding-left 0
            padding-top 0.5%
            width 25%
            float left
            .telefone
                montserrat 22
                font-weight 600
                margin-bottom 15px
                color #848688
                margin 0
                &:hover
                    color #F8A418
            .email
                montserrat 14
                font-weight 500
                color #848688
                margin 0 
                line-height 4.5
                &:hover
                    color #F8A418
            p
                montserrat 14
                font-weight 500
                color #848688
                margin 0 
                line-height 1.5
        .dados
            width 35%
            margin-right 1%
            margin-left 0
            input[type=text]
            input[type=email]
                width 100%
                height 42px
                outline 0
                border 0
                padding 0 10px 0 25px
                margin-bottom 10px
                background #fff
                border 1px solid #F8A418
                border-radius 30px
                montserrat 14
                color #848688
                font-weight 500
                &:hover
                &:focus
                    border 2px solid #F8A418
        .mensagem
            width 35%
            margin-right 1%
            textarea
                width 100%
                height 146px
                outline 0
                border 0
                padding 10px 10px 10px 25px
                margin-bottom 10px
                background #fff
                resize none
                border 1px solid #F8A418
                border-radius 20px
                montserrat 14
                color #848688
                font-weight 500
                &:hover
                &:focus
                    border 2px solid #F8A418
        button[type=submit]
            width 40px
            height 40px
            border-radius 50%
            background-color #F8A418
            color #fff
            border 0
            outline 0
            cursor pointer
            transition background .3s
            margin-top 105px
            &:hover
                background #848688
            img
                padding-top 4px
    +below($tablet)
        width 85% !important
        form
            width 100%
            .informacoes
                width 26%
                padding-left 2%
                margin-right 1%
                .telefone
                    montserrat 18
                .email
                    montserrat 12
                p
                    montserrat 11
            .dados
                input[type=text]
                input[type=email]
                    height 35px
                    montserrat 12
            .mensagem
                textarea
                    height 125px
                    montserrat 12
            button[type=submit]
                margin-top 85px
    +mobile()
        width 90% !important
        display inline
        form
            display block
            width 100%
            .informacoes
                width 100%
                padding-left 5%
                margin-bottom 20px
                .telefone
                    montserrat 22
                .email
                    montserrat 14
                    margin-bottom 20px
                p
                    montserrat 14
            .dados
                width 95%
                margin 1% 2%
                input[type=text]
                input[type=email]
                    height 42px
                    padding 0 10px 0 30px
                    montserrat 14
            .mensagem
                width 95%
                margin 1% 2%
                textarea
                    height 146px
                    montserrat 14
            button[type=submit]
                margin 5% 45%
.contato-img
    width 100%
    display block
    padding 4% 0 6% 0
    height 50%
    margin 0
    img 
        width 100%
        height 400px
        display block
        padding 0
        margin 0
        -webkit-filter grayscale(50%)
        filter grayscale(50%)
        filter #848688
        background-position 50% 50%
        background-size cover
        object-fit cover
        
    