.banners
    position absolute
    width 100%
    height 100%
    z-index -1
    background-color #FFF
    overflow-y hidden
    .home-gradiente
        position fixed
        height 160px
        width 100%
        top 0
        left 0
        background-image linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6))
        background-color transparent
        z-index 9999
    .banner
        position absolute
        width 100%
        height 100%
        margin 0 auto
        top 0
        left 0
        background-size cover
        background-position center

