.perfil
    position relative
    height 100vh
    margin-bottom 4% !important
    margin-top 2.5% !important
    +below($tablet)
        margin-bottom 0
    > img
        position absolute
        width 100%
        height 550px
        display block
        padding 0
        margin 0
        -webkit-filter grayscale(50%)
        filter grayscale(50%)
        filter #848688
        background-position 50% 50%
        background-size cover
        object-fit cover
    div.perfil-texto
        position absolute
        background-color #F8A418
        max-width 44%
        height 550px
        opacity 0.8
        margin-left 50%
        padding-top 1.5%
        padding-left 3.4%
        padding-right 5%
        padding-bottom 3%
        +mobile()
            margin-left 30%
            max-width 64%
        p
            montserrat 16
            font-weight 500
            color #FFF
            text-align left
            line-height 1.6
            margin-bottom 5%
            +below($tablet)
                montserrat 14
            +mobile()
                montserrat 12
            &:last-child
                margin-bottom 0
    
