.projetos
    width 1200px
    height 100%
    margin 0 auto
    .center 
        padding-bottom 5%
        .projetos-right
            display block
            float right
            padding-bottom 20px 
            padding-right 0
        .projetos-left
            display block
            float left
            padding-bottom 20px 
            padding-left 0
        .projeto
            display inline-block
            position relative
            padding-left 10px
            padding-right 10px
            img
                border-radius 50%
                width 300px
                height 300px
                transition opacity .3s
            &:hover::after
                visibility visible
            .overlay
                display flex
                position absolute
                top 0
                left 0
                margin 25px 25px 25px 35px
                width 250px
                height 250px
                background-color #F8A418
                border-radius 50%
                align-items center
                justify-content center
                opacity 0
                transition opacity .3s
                span 
                    display block
                    width 100%
                    text-align center
                    color #FFF
                    padding 20px
                    montserrat 14
                    font-weight 500
                    text-transform uppercase
                +below($tablet)
                    display none
            &:hover .overlay
                opacity 0.8
            .titulo
                display flex
                justify-content flex-start
                align-items center
                margin-top $rem(14)
                span
                    flex 0 1 $rem(200)
                    height 1px
                    background #000
                    +mobile()
                        display none
                p
                    text-align right
                    sackers 16
                    margin 0
                    margin-left $rem(16)
                    transform translateY(2px)
                    text-transform lowercase
                    white-space nowrap
                    line-height 1
                    +mobile()
                        white-space normal
    +below($tablet)
        width 85%
        .center
            .projetos-right
                display flex
                float right 
                padding-bottom 10px 
            .projetos-left
                display flex
                float left 
                padding-bottom 10px 
            .projeto
                padding-left 5px
                padding-right 5px
                img
                    width 200px
                    height 200px
                .overlay
                    display flex
                    position absolute
                    margin 15px 20px 15px 20px
                    width 170px
                    height 170px
                    +below($tablet)
                        display none
                &:hover .overlay
                    opacity 0.8
    +mobile()
        width 90%
        .center
            padding-left 5%
            padding-right 5%
            .projetos-right
                display flex
                flex-direction column
                padding 0
            .projetos-left
                display flex
                flex-direction column
                padding 0
            .projeto
                padding 10px 20px
                position relative
                img
                    width 300px
                    height 300px
                .overlay
                    display none

// FANCYBOX
.fancybox-nav
    width 60px

.fancybox-nav span
    visibility visible
    opacity 1

.fancybox-next 
    right -20px
    top 45%
    width 40px
    height 40px
    background-color #F8A418
    border-radius 50%
    &:hover
        background-color #FFF
        span 
            background-image url('../img/layout/seta-direita-amarela.svg')

.fancybox-next span
    width: 25px
    height 25px
    background-image url('../img/layout/seta-direita.svg')
    background-size cover
    background-position center
    color #FFF
    top 25px
    left 7px

.fancybox-prev 
    left -20px
    top 45%
    width 40px
    height 40px
    background-color #F8A418
    border-radius 50%
    &:hover
        background-color #FFF
        span 
            background-image url('../img/layout/seta-esquerda-amarela.svg')

.fancybox-prev span
    width 25px
    height 25px
    background-image url('../img/layout/seta-esquerda.svg')
    background-size cover
    background-position center
    color #FFF
    top 25px
    left 7px

.fancybox-title 
    color #FFF
    top -10px
    left 0
    montserrat 18
    font-weight 500
    text-transform uppercase
    margin-top: 30px
